/* Manual font */
@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(../font/SpecialElite.ttf);
}

@arrow-font-face {
  font-family: 'Littlearrows';
  font-style: normal;
  font-weight: 1000;
  src: local('Littlearrows'), local('Littlearrows-Regular'), url(../font/Littlearrows-Regular.otf);
}